<app-nav-bar></app-nav-bar>  <!-- Componente que muestra la barra de navegación -->

<app-footer></app-footer>  <!-- Componente que muestra el pie de página -->

<!-- <app-media-player></app-media-player> -->  <!-- Componente para el reproductor multimedia, actualmente comentado -->

<div class="home-wrapper">  <!-- Contenedor principal con la clase 'home-wrapper' para organizar y evitar que los elementos se amontonen -->
    <router-outlet ></router-outlet>  <!-- Directiva de Angular que carga las rutas hijas correspondientes -->
</div>
