<div class="play-list-body">
    <ul class="play-list-table-header">
      <li>Titulo ❤</li>
      <li>Director 🆗</li>
      <li>fecha incorporación 🍌😁</li>
      <li><i class="uil uil-clock-eight"></i></li>
    </ul>
  
    <ul class="play-list-rows" *ngFor="let item of movies">
      <li class="movie-name">
        <ng-container *ngTemplateOutlet="coverSection; context: { movie: item }"></ng-container>
      </li>
      <li class="movie-name-opacity">
        {{ item.director }}
      </li>
      <li class="movie-name-opacity">
        {{ item.director }}
      </li>
      <li class="movie-name-opacity">
        {{ item.director }}
      </li>
    </ul>
  </div>
  
  <!-- template del cover -->
  <ng-template #coverSection let-movie="movie">
    <div class="cover-section">
      <img appImgBroken class="cover-movie" [src]="movie.poster" [alt]="movie.title" />
      <div class="cover-info">
        <div class="name-movie">{{ movie.title }}</div>
        <div class="name-movie-details">{{ movie.cast.leadActor }}</div>
      </div>
    </div>
  </ng-template>
  