<div class="footer">
    
  
    <ul class="footer-bar__list list-one">
     
        <div class="list-wrapper-item">
            <i class="uil uil-signout"></i>
          <span class="list-label">cerrar sesion </span>
        </div>

      
    </ul>
  
    
    <ul class="footer-bar__list list-two">
        
        <div class="list-wrapper-item">
            <i class="uil uil-linkedin"></i>
          <span class="list-label">Linkedin </span>
        </div>
      
    </ul>
  
    <ul class="footer-bar__list list-three">
        
        <div class="list-wrapper-item">
            <i class="uil uil-phone-alt"></i>
          <span class="list-label">Telefono</span>
        </div>
      
    </ul> 
</div>
  