<!-- Contenedor principal del pie de página -->
<div class="footer">
  
  <!-- Primera lista del pie de página (Cerrar sesión) -->
  <ul class="footer-bar__list list-one">
    <!-- Elemento de la lista para cerrar sesión -->
    <div class="list-wrapper-item">
      <!-- Icono de salida de sesión (un signo de salida) -->
      <i class="uil uil-signout"></i>
      <!-- Etiqueta que indica "Cerrar sesión" -->
      <span class="list-label">cerrar sesion</span>
    </div>
  </ul>
  
  <!-- Segunda lista del pie de página (LinkedIn) -->
  <ul class="footer-bar__list list-two">
    <!-- Elemento de la lista para LinkedIn -->
    <div class="list-wrapper-item">
      <!-- Icono de LinkedIn -->
      <i class="uil uil-linkedin"></i>
      <!-- Etiqueta que indica "LinkedIn" -->
      <span class="list-label">Linkedin</span>
    </div>
  </ul>
  
  <!-- Tercera lista del pie de página (Teléfono) -->
  <ul class="footer-bar__list list-three">
    <!-- Elemento de la lista para Teléfono -->
    <div class="list-wrapper-item">
      <!-- Icono de teléfono -->
      <i class="uil uil-phone-alt"></i>
      <!-- Etiqueta que indica "Teléfono" -->
      <span class="list-label">Telefono</span>
    </div>
  </ul>

</div>
