<!-- Contenedor principal del encabezado de la lista de reproducción -->
<div class="play-list-header">
  
    <!-- Sección de la portada o imagen del encabezado -->
    <div class="cover">
      <!-- Un contenedor de marcador de lugar de la portada, que contiene un icono de corazón -->
      <div class="cover-mock">
        <i class="uil uil-heart"></i> <!-- Icono de corazón (representa una opción de favorito) -->
      </div>
    </div>
  
    <!-- Sección de texto que contiene información relacionada con la lista de favoritos -->
    <div class="content-text">
      <!-- Texto pequeño que describe la sección -->
      <div class="small-text">Tus favoritas</div>
      
      <!-- Título principal de la sección -->
      <h1 class="title">Peliculas que te gustan</h1>
      
      <!-- Subtítulo que incluye el nombre del usuario y la cantidad de películas en la lista -->
      <h5 class="sub-title">
        Miguel Topete <!-- Nombre del usuario -->
        <span class="count-tracks">206 Peliculas</span> <!-- Número de películas en la lista -->
      </h5>
    </div>
  </div>
  